*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wave{
  position: relative;
}
.wave span{
  position: relative;
  display: inline-block;
  font-size: 6rem;
  color: #fff;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip{
  0%, 80%{
    transform: rotateY(360deg);
    color: blue;
  }
}